@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: rgb(229 231 235);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    overscroll-behavior-y: none;
}

body {
    overscroll-behavior-y: none;
}